extend layout.pug

block content
    #content 
        #myDIV.header
            h2 Edit task: 
            form.form-horizontal(id='edit-form', method='post', action='/edit/#{task.name}')
                ul
                each task in tasks
                    p #{task.name}  done: #{task.done}
                input(type='text', name='myInput', id='myInput', placeholder='new name')
                a(href='http://localhost:3000/:name/edit') save
                br
                br