extend layout.pug

block style
    style
        include style.css

block content
    #content
        form.form-horizontal(id='task-form', method='post')
            label E-mail
            br
            input(type='email', id='emailUser', name='emailUser', placeholder='name@gmail.com')
            br
            br
            br
            label Password
            br
            input(type='password', id ='passwordUser', name='passwordUser')
            br
            br
            br
            button.btn.btn-success(type='submit') Sign in
            br
            br
            br
            ul
                a(href='http://localhost:3000/auth/logout') Logout
                br
                a(href='http://localhost:3000/auth/login') Login
                br
                br
                a(class="google-btn" href='http://localhost:3000/auth/google') Google+
