extend layout.pug
block content
    #content
        label Name
        br
        input(type='text', id='name', name='name', placeholder='new task')
        br
        br
        br
        label Deadline
        br
        input(type='date', name='date')
        br
        br
        br
        input(type='submit', value='Submit')