extend layout.pug
block content
    #content
        form(action='mailto:aleksandramusial1997@gmail.com', method='post') 
        label E-mail
        br
        input(type='email', id='email', name='email', placeholder='name@gmail.com')
        br
        br
        br
        label Password
        br
        input(type='password',  id ='passwordUser', name='***')
        br
        br
        br
        input(type='submit', value='Submit')
