extend layout.pug
 
block content
    #content
        #myDIV.header
            h2 My To Do List
            form.form-horizontal(id='task-form', method='post')
                input(type='text', name='myInput', id='myInput', placeholder='Title...')
                button.btn.btn-success(type='submit') Add
                br
                br
                ul
                    #myUL
                    p #{task}
                    script
                        include addTask.js