extend layout.pug

block content
    #content 
        #myDIV.header
            h2  Your To Do List
            input(type='text', name='myInput', id='myInput', placeholder='Title...')
            button.btn.btn-success(type='submit', id='sendNewTask' class='addBtn') Add
            br
            br
            ul#myUl
                each task in tasks
                    li
                        p #{task.name} 
                        a(id='editTask', href='http://localhost:3000/profile/edit/' + task._id) edit
                        p
                        button.btn(type='button', class='deleteTask') delete
                        input(type="hidden", name="taskId", id="taskId", value=task._id)
        br
        br
        a(class='button' type='button' href='http://localhost:3000/auth/logout') Logout