extend layout.pug
block content
    #content
        form(action='mailto:aleksandramusial1997@gmail.com', method='post') 
        label E-mail
        br
        input(type='email', name='email', value='name@gmail.com')
        br
        br
        br
        label Password
        br
        input(type='text', name='***')
        br
        br
        br
        button(type='submit') Kuba rozruba
        br
        br
