extend layout.pug

block style
    style
        include style.css

block content
    #content
        form.form-horizontal(id='task-form', method='post')
            ul
                br
                h2 Login
                br
                br
                a(class="google-btn" href='http://localhost:3000/auth/google') Google+
