extend layout.pug

block content
    #content 
        #myDIV.header
            h2 My To Do List
            input(type='text', id='myInput', placeholder='Title...')
            span.addBtn(onclick='newElement()') Add
            br
            br
            ul
                #myUL
                p #{tasks}
                script
                    include addTask.js