extends layout.pug

block content
  #content
    a(class='button' href='http://localhost:3000/addUser') create new User
    br
    br
    a(class='button' href='http://localhost:3000/add') create new Task