doctype html
head
    meta(charset='utf-8')
    title #{title}
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    block style
        style
            include style.css

body
block container
    #container
    block logo
        #logo
            h1 Create your own TODO list!
    block nav
        #nav
    block content
    block ad
        #ad
    block footer
        #footer
            p footer